.idea/
*.csv
bin/__pycache__/timezones.cpython-36.pyc
bin/__pycache__/state.cpython-36.pyc
bin/__pycache__/plot.cpython-36.pyc
bin/__pycache__/h_g_filter.cpython-36.pyc
bin/__pycache__/estimation.cpython-36.pyc
bin/__pycache__/convert.cpython-36.pyc
bin/__pycache__/prediction.cpython-36.pyc
bin/__pycache__/data.cpython-36.pyc
bin/__pycache__/configuration.cpython-36.pyc
bin/__pycache__/calculate.cpython-36.pyc
bin/evaluate.py
bin/__pycache__/gen.cpython-36.pyc
diagrams/introduced_artefact_max_spd_head_per_sec_filters.png
diagrams/introduced_artefact_max_spd_head_dis_per_sec_filters2.png
diagrams/introduced_artefact_default_filters.png
bin/__pycache__/project.cpython-36.pyc
diagrams/introduced_artefact_max_spd_head_dis_per_sec_filters.png
